<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Understand the CovidVoices mission</h2>
                <hr class="light">
                <p class="text-faded">
                  Everyday, news agencies provide us with numbers on infected people. Everyday, political leaders give us updates on COVID-19 policies. Everyday, we
                  However, nobody ever tells us what day-to-day life for people affected by COVID-19 is really like.
                  Teddy and his team aim to change that. This summer, we are on a journey talking to 100 people across all 50 US states trying to understand people and hoping to find answers to the real questions:
                  What does it mean if you are one of the 3% + of people who filed for unemployment?
                  Where do you self-isolate if you don’t have a home?
                  How do you feel after having suddenly lost a loved one?
                  We don’t want to tell a story, we want to listen to your story. Our videos and podcasts are unguided and provide people with an opportunity to share what is important to them.
                  We focus on one major question:
                  What do you want to share about COVID-19 with the world?
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
