<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4 class="section-heading">End Notes</h4>
                <hr class="light">
                <p class="text-faded">
                  The COVID pandemic is real and a serious global issues.<br><br>

                  Please practice social distancing.<br>
                  Please restrain from any non-essential travel.<br><br>

                  CovidVoices is a project with journalistic and academic focus. It is executed by professionals who are constantly consulting with experts in the field and on the crisis. Please do not attempt to

                  During the journey, Teddy himself is self-isolating by<br>
                  Always wearing a mask and gloves in places where other people are present<br>
                  Conducting interviews and conversations from at least 50 feet<br>
                  Living and sleeping in his car (including daily hygiene)<br>
                  Limiting shopping for essentials to a maximum of every two weeks<br>
                </p>
            </div>
        </div>
    </div>
</section>
