<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Covid Voices</h1>
            <hr>
            <p>
               <br> <br> <br> <br><br><br><br><br><br>
              the narrative<br>
              from understanding COVID-19 numbers<br>
              to understanding the people affected by the pandemic



            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
